<div class="col-3 mt-4">
  <%= form_tag(search_path, method: :get) do %>
  <%= select_tag 'model', options_for_select({ "投稿" => "post", "ユーザー" => "user" }), style: "width:78%;" %></br>
  <div class="mt-2"><%= select_tag 'method', options_for_select({ "完全一致" => "perfect", "部分一致" => "partial" }), style: "width:78%;" %></br></div>
  <div class="mt-2"><%= text_field_tag 'content' %></br></div>
  <div class="mt-2"><%= submit_tag '検索', class: "btn btn-sm btn-primary", style: "width:78%; height:40px;" %></div>
  <% end %>
</div>