<main>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="mt-5 mb-5 text-center">
          <h2><%= image_tag @user.get_profile_image(100,100) %><%= @user.name %></h2>
          <%= @user.introduction %>
        </div>
      </div>
      <div class="col-4 mt-5 mb-5 pt-4 text-right">
        <%= link_to "編集", edit_user_path(current_user.id) %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p><%=link_to"いいねを見る",favorites_user_path(@user) %></p>
      </div>
    </div>
    <% @posts.each do |posts| %>
    <div class="row mt-3">
      <div class="col-2"></div>
      <div class="col-4">
        <%= image_tag @user.get_profile_image(100,100) %><%= posts.user.name %></br>
        <%= link_to post_path(posts.id) do %>
        <%= posts.title %></br>
        <% end %>
        <%= posts.caption %></br>
        <% if posts.image.attached? %>
        <%= image_tag posts.image, size: "300x250" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</main>